@page "/expedientes"

<PageTitle>Expedientes</PageTitle>

<h1>Completar.</h1>

<!--
//Todos deben poder ver los Expedientes (y listar por id/estado?),
pero los que tengan el permiso necesario podrán
//ver las opciones para dar alta, baja y modificación

//Ver diapositiva 62-->