@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<!--//Sistema de Log in/Sign up y página de bienvenida

//Log in => Correo y contraseña
//Sign Up => Nombre, Apellido, Correo y Contraseña

//Clase Singleton de Sesión para mantener la cuenta iniciada
//Hacer un GetUsuario en el repo para traer sus datos y verificar credenciales-->
