@page "/"
@rendermode InteractiveServer
@inject ISesion Sesion

<PageTitle>Inicio</PageTitle>

<h1>Bienvenido al Sistema de Gestión de Expedientes</h1>

@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>¿Cómo desea ingresar al sistema?</h3>
            <button class="btn btn-primary" @onclick="op1">Iniciar sesión</button>
            <button class="btn btn-secondary" @onclick="op2">Registrarse</button>
        </div>
    </div>    
}

<InicioYRegistro @ref=opcion Seguir="Mostrar"/>

@code 
{

    InicioYRegistro opcion = null!;
    private bool visible = true;
    private Usuario? sesionIniciada;

    private void cerrar()
    {
        opcion.CerrarSesion();
    }

    private void op1()
    {
        opcion.IniciarSesion();
    }

    private void op2()
    {
        opcion.Registrarse();
    }

    private void Mostrar()
    {
        visible = false;
    }

}