@page "/"
@rendermode InteractiveServer
@inject ISesion Sesion

<PageTitle>Inicio</PageTitle>

@if(Sesion.GetSesion() == null)
{
    <h1>¿Cómo desea ingresar al sistema?</h1>
    <button class="btn btn-primary" @onclick="op1">Iniciar sesión</button>
    <button class="btn btn-secondary" @onclick="op2">Registrarse</button>
}

<InicioYRegistro @ref=opcion Seguir="Ocultar"/>

@code 
{

    InicioYRegistro opcion = null!;
    private bool visible = true;

    private void op1()
    {
        opcion.IniciarSesion();
    }

    private void op2()
    {
        opcion.Registrarse();
    }

    private void Ocultar()
    {
        visible = false;
    }

}

<!--//Sistema de Log in/Sign up y página de bienvenida

//Log in => Correo y contraseña
//Sign Up => Nombre, Apellido, Correo y Contraseña

//Clase Singleton de Sesión para mantener la cuenta iniciada
//Hacer un GetUsuario en el repo para traer sus datos y verificar credenciales-->
