@page "/TramiteAlta"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoTramiteAlta TramiteAlta

<h1>Ingrese los siguientes datos</h1>
<input placeholder= "Nombre" @bind= "usuario.Nombre" class ="form-control">
<input placeholder= "Apellido" @bind= "usuario.Apellido" class ="form-control">
<input placeholder= "Correo" @bind= "usuario.CorreoElectronico" class ="form-control">
<input placeholder= "Contraseña" @bind= "usuario.Contrasena" class ="form-control">

