@page "/tramites"

<PageTitle>Tr치mites</PageTitle>

<h1>Completar.</h1>

<!--//Todos deben poder ver los Tr치mites (y listar por id/etiqueta?), pero los que tengan el permiso necesario podr치n
//ver las opciones para dar alta, baja y modificaci칩n

//Ver diapositiva 62-->