@rendermode InteractiveServer

@if(visible)
{
    <h3 class= "mensaje">@Mensaje
        <button class="boton1"  @onclick="ConfirmarYCerrar">Aceptar</button>
        <button class="boton2"  @onclick="Cerrar">Cerrar</button>
    </h3>
    
}

@code{
    private bool visible = false;
    [Parameter]
    public string Mensaje {get;set;}="";

    public void Mostrar()
    {
        visible=true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible=false;
    }

    [Parameter]
    public EventCallback OnConfirmado{get;set;}

    void ConfirmarYCerrar()
    {
        visible=false;
        OnConfirmado.InvokeAsync();
    }
}
