@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoUsuarioAlta UsuarioAlta
@inject InicioSesion login;
@inject Registro register;

@if(bloqueInicio)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>Ingrese sus credenciales</h3>
            <input placeholder="Correo electrónico" @bind="_usuario.CorreoElectronico" class="form-control">
            <input placeholder="Contraseña" @bind="_usuario.Contrasena" class="form-control">
            <button class="btn btn-primary" @onclick="ConfirmarLogin">Confirmar</button>
        </div>
    </div>
}

@if(bloqueRegistro)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>Registrese con sus datos personales</h3>
            <input placeholder="Nombre" @bind="_usuario.Nombre" class="form-control">
            <input placeholder="Apellido" @bind="_usuario.Apellido" class="form-control">
            <input placeholder="Correo electrónico" @bind="_usuario.CorreoElectronico" class="form-control">
            <input placeholder="Contraseña" @bind="_usuario.Contrasena" class="form-control">
            <button class="btn btn-primary" @onclick="ConfirmarRegistro">Confirmar</button>
        </div>
    </div>
}

@code {

    Usuario _usuario = new Usuario();
    private bool bloqueInicio = false;
    private bool bloqueRegistro = false;
    private bool bloqueBienvenida = true;
    
    [Parameter]
    public EventCallback Seguir{get;set;}

    public void IniciarSesion()
    {
        bloqueInicio = true;
        Seguir.InvokeAsync();
    }
    public void Registrarse()
    {
        bloqueRegistro = true;
        Seguir.InvokeAsync();
    }

    private void ConfirmarLogin()
    {
        if(login.ValidarSesion(_usuario)) //Negado por como se planteó el método
        {
            bloqueInicio = false;
            bloqueBienvenida = true;
        }
    }

    private void ConfirmarRegistro()
    {
        if(register.Registrar(_usuario))
        {
            bloqueRegistro = false;
            bloqueInicio = true;
        }
    }

}