@page "/UsuarioHelp/{ID:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoAdmModificacion ModificacionUsuario
@inject CasoDeUsoUsuarioObtenerPermisos obtnerPermisos
@inject IServicioAutorizacion autorizacion
@inject CasoDeUsoUsuarioBuscarPorID BuscarPorID
@inject ISesion Sesion


<h1>Ingrese los siguientes datos</h1>
<div>
    <h3>Nombre: </h3>
    <input @bind="usuario.Nombre" class="form-control">
    <h3>Apellido: </h3>
    <input @bind="usuario.Apellido" class="form-control">
    <h3>Correo del usuario:</h3>
    <input @bind="usuario.CorreoElectronico" class="form-control">
    <a>
        <h4 class="separacion">Permisos del usuario:</h4>
        @foreach(string permiso in PermisosUsuario)
        {
            <h3>@permiso</h3>
        }
        <h3 class="separacion1">Seleccione el permiso del usuario</h3>
        @foreach(string permiso in TodosPermisos)
        {
            <button class="btn"  @onclick="()=>Elejido(permiso)">@permiso</button>
        }
        <button class="btn btn-primary" @onclick="()=>AgregarPermiso()">Agregar</button>
        <button class="btn btn-primary" @onclick="()=>EliminarPermiso()">Eliminar</button>
    </a>
</div>
<button class="btn btn-primary" @onclick="()=>ModificaryVolver()">Aceptar</button>




@code
{
    [Parameter] public int? ID {set;get;}
    Usuario usuario = new Usuario();

    List<string> PermisosUsuario = new List<string>();

    string mensajeError = "";
    string permisoElejido = "";

    List<string> TodosPermisos = new List<string>
    {
        "ExpedienteAlta",
        "ExpedienteBaja",
        "ExpedienteModificacion",
        "TramiteAlta",
        "TramiteBaja",
        "TramiteModificacion",
        "ListarUsuarios",
        "UsuariosBaja",
        "UsuariosModificacion"
    };

    Usuario? sesionAct = new Usuario();
    
    protected override void OnInitialized()
    {
        sesionAct = Sesion.GetSesion();
    }

    protected override void OnParametersSet()
    {
        if(ID != null)
        {
            try
            {
                usuario = BuscarPorID.Ejecutar(ID.Value);
                Console.Write(usuario.Id);
                Permisos();
            }
            catch(Exception e)
            {
                mensajeError = e.Message;
            }
        }
    }
    
    private void Permisos()
    {
        PermisosUsuario = obtnerPermisos.Ejecutar(usuario.Permisos, sesionAct.Id);
    }

    private void Elejido(string permiso)
    {
        permisoElejido = permiso;    
    }

    private void AgregarPermiso()
    {
        if(permisoElejido != "" && !PermisosUsuario.Contains(permisoElejido))
        {
            PermisosUsuario.Add(permisoElejido);
            permisoElejido = "";
        }
    }

    private void EliminarPermiso()
    {
        if(permisoElejido != "" && PermisosUsuario.Contains(permisoElejido))
        {
            PermisosUsuario.Remove(permisoElejido);
            permisoElejido = "";
        }
            
    }

    private void ModificaryVolver()
    {
        ModificacionUsuario.Ejecutar(usuario, PermisosUsuario, sesionAct.Id);
        Navegador.NavigateTo("usuarios/");
    }
}